{% extends 'global/base.html' %}
{% load static %}


{% block content %}
    <section class="sobre" id="sobre">
        <div class="home-content">
            <h1>Olá,  <span>Gustavo</span> aqui</h1>
            <h3 class="text-animation"><span></span></h3>

            <p>Como programador backend, meu foco principal é garantir que os sistemas que 
                desenvolvo sejam robustos, eficientes, seguros e que atendam às necessidades
                 dos usuários de forma confiável e escalável..</p>
                 <br>
            <p>Você pode ver mais sobre meu trabalho em "Projetos" :)</p>

            <div class="social-icons">
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxl-github' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
            </div>

            <div class="btn-group">
                <a href="#contact" class="btn">Contato</a>
                <a href="#hire" class="btn">Contrate-me</a>
            </div>
        </div>
        <div class="home-img">
            <img src="{% static 'global/gus.png' %}" alt="foto">
        </div>
        
    </section>

    <section class="Habilidades" id="habilidades">
        <h2 class="heading">Habilidades</h2>
        
        

        <div class="habilidades-container">
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-python'></i>
                    <h4>Python</h4>
                    <p>Linguagem de programação de alto nível com vasta comunidade e bibliotecas poderosas.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-django'></i>
                    <h4>Django</h4>
                    <p>Django: Framework web em Python, seguindo o padrão MVC,
                    facilitando o desenvolvimento de aplicativos web robustos e escaláveis.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-postgresql' ></i>
                    <h4>Postgresql</h4>
                    <p>Sistema de gerenciamento de banco de dados relacional
                    de código aberto, altamente escalável e robusto.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-docker'></i>
                    <h4>Docker</h4>
                    <p>Plataforma de contêinerização para desenvolvimento,
                    empacotamento e implantação de aplicativos em ambientes isolados e portáteis.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-git'></i>
                    <h4>Git e Github</h4>
                    <p>Git é um sistema de controle de versão distribuído,
                    e GitHub é uma plataforma para hospedar repositórios Git,
                    facilitando colaboração e controle de versão de código.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bx-test-tube' ></i>
                    <h4>TDD Unit Testing</h4>
                    <p>Metodologia de desenvolvimento de software em que os testes automatizados são
                    escritos antes do código de produção, garantindo a qualidade e a confiabilidade.</p>
                </div>
            </div>
            <div class="habilidade-box">
                <div class="habilidade-info">
                    <i class='bx bxl-google-cloud'></i>
                    <h4>Google Cloud</h4>
                    <p>Plataforma de computação em nuvem da Google,
                    oferecendo serviços como hospedagem, armazenamento, aprendizado de máquina e muito mais.</p>
                </div>
            </div>
            <div class="habilidade-box ">
                <div class="habilidade-info">
                    <i class='bx bxl-html5'></i>
                    <h4>HTML</h4>
                    <p>Linguagem de marcação para estruturar e apresentar conteúdo na web.</p>
                </div>
            </div>
            <div class="habilidade-box ">
                <div class="habilidade-info">
                    <i class='bx bxl-css3' ></i>
                    <h4>CSS</h4>
                    <p>Linguagem de estilização para definir o layout e a aparência dos elementos HTML
                    em uma página web.</p>
                </div>
            </div>
            <div class="habilidade-box ">
                <div class="habilidade-info">
                    <i class='bx bxl-javascript' ></i>
                    <h4>Javascript</h4>
                    <p>Linguagem de programação de alto nível, usada principalmente para criar
                    interatividade em páginas web.</p>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}
    