<header class="header">
    <a href="#home" class="logo">Gustavo
    <span>Zollner</span></a>

    
    <nav>
        <div class="navbar">
            <a href="#sobre" class="active">Sobre</a>
            <a href="#habilidades" >Habilidades</a>
            <a href="#projetos">Projetos</a>
        </div>
        <i class='bx bx-menu' id="menu-icon"></i>
        <div class="navbar__mobile">
            <a href="#sobre" class="active">Sobre</a>
            <a href="#habilidades" >Habilidades</a>
            <a href="#projetos">Projetos</a>
        </div>
    </nav>
    
    
</header>