<header class="header">
    <a href="#home" class="logo">Gustavo
    <span>Zollner</span></a>

    <div>
        <input type="checkbox" class="checkbox" id="chk"/>
        <label class="label" id="trocar-tema" for="chk">
            <i class='bx bxs-moon' ></i>
            <i class='bx bxs-sun' ></i>
            <div class="ball"></div>
        </label>
    </div>

    <nav>
        <div class="navbar">
            <a href="#sobre" class="active">Sobre</a>
            <a href="#habilidades" >Habilidades</a>
            <a href="#projetos">Projetos</a>
        </div>
        <i class='bx bx-menu' id="menu-icon"></i>
        <div class="navbar__mobile">
            <a href="#sobre" class="active">Sobre</a>
            <a href="#habilidades" >Habilidades</a>
            <a href="#projetos">Projetos</a>
        </div>
    </nav>
    
    
</header>